/*-=========================================================

	File: responsive.css

============================================================*/

@media (min-width: 1200px) and (max-width: 1340px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 18px 15px;
    }
    .banner_taital {
        font-size: 60px;
        line-height: 70px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 18px 11px;
    }
    .banner_taital {
        font-size: 50px;
        line-height: 60px;
    }
    .about_img {
        margin-right: 0;
    }
    .about_img figure {
        padding: 0;
    }
    .about_img::before {
        display: none;
    }
    .about_text {
        padding-right: 0;
    }
    .titlepage h2 {
        font-size: 33px;
    }
    .main_form .form-control {
        margin-bottom: 20px;
    }
    .main_form .send_btn {
        margin-top: 0;
    }
    .customer_left {
        padding-right: 10px;
    }
    .customer_right {
        padding-left: 10px;
    }
    .customer_main .test_box {
        padding: 0 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 18px 20px;
    }
    .banner_taital_main {
        padding-top: 50px;
    }
    .banner_taital {
        font-size: 40px;
        line-height: 50px;
    }
    .about_img {
        margin-bottom: 30px;
    }
    .our_room .room_img {
        margin-bottom: 30px;
    }
    .our_room .bed_room {
        margin-bottom: 30px;
    }
    .our_gallery .gallery_box {
        margin-bottom: 30px;
    }
    .blog_room .blog_img {
        margin-bottom: 30px;
    }
    .main_form .form-control {
        margin-bottom: 20px;
    }
    .main_form .send_btn {
        margin-top: 0;
    }
    .customer_main {
        flex-wrap: wrap;
    }
    .customer_left,
    .customer_right {
        width: 100%;
    }
    .customer_left {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .customer_right {
        padding-left: 0;
    }
    .contact .map_main {
        margin-top: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header_section {
        padding: 15px 0;
    }
    .mean-container .mean-bar {
        margin-top: 0;
    }
    .banner_taital_main {
        padding-top: 0;
    }
    .banner_taital {
        font-size: 35px;
        line-height: 45px;
    }
    .about_img {
        margin-bottom: 30px;
    }
    .our_room .room_img {
        margin-bottom: 30px;
    }
    .our_room .bed_room {
        margin-bottom: 30px;
    }
    .our_gallery .gallery_box {
        margin-bottom: 30px;
    }
    .blog_room .blog_img {
        margin-bottom: 30px;
    }
    .main_form .form-control {
        margin-bottom: 20px;
    }
    .main_form .send_btn {
        margin-top: 0;
    }
    .customer_main {
        flex-wrap: wrap;
    }
    .customer_left,
    .customer_right {
        width: 100%;
    }
    .customer_left {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .customer_right {
        padding-left: 0;
    }
    .contact .map_main {
        margin-top: 30px;
    }
    .copyright p {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .header_section {
        padding: 15px 0;
    }
    .mean-container .mean-bar {
        margin-top: 0;
    }
    .logo {
        padding: 0;
    }
    .banner_taital_main {
        padding-top: 0;
    }
    .banner_taital {
        font-size: 30px;
        line-height: 40px;
    }
    .book_btn a {
        display: none;
    }
    .titlepage h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .about_img {
        margin-bottom: 30px;
    }
    .our_room .room_img {
        margin-bottom: 30px;
    }
    .our_room .bed_room {
        margin-bottom: 30px;
    }
    .our_gallery .gallery_box {
        margin-bottom: 30px;
    }
    .blog_room .blog_img {
        margin-bottom: 30px;
    }
    .main_form .form-control {
        margin-bottom: 20px;
    }
    .main_form .send_btn {
        margin-top: 0;
    }
    .customer_main {
        flex-wrap: wrap;
    }
    .customer_left,
    .customer_right {
        width: 100%;
    }
    .customer_left {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .customer_right {
        padding-left: 0;
    }
    .contact .map_main {
        margin-top: 30px;
    }
    .copyright p {
        font-size: 14px;
    }
    .bottom_form h3 {
        font-size: 22px;
    }
    .bottom_form .enter {
        padding: 10px 15px;
    }
    .subsci_btn {
        padding: 10px 15px;
    }
}
